.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
  color: #2c71b6;
  font-size: 1.2rem;
}

.btn-outline-success {
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}
.btn-outline-success:hover {
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.page-header__navbar {
  background-color: rgba(255, 255, 255, 0.8);
}
.page-header__carousel {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__navbar-search {
  height: 50px;
  border: 1px solid #2c71b6;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.page-header__navbar-search .form-control {
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.2rem;
}
.page-header__navbar-search button {
  margin: 5px;
  padding: 0;
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}
.page-header__navbar-search button:hover {
  color: #2c71b6;
  background-color: #ffffff;
}
.page-header__navbar-search i {
  display: block;
  padding: 10px;
}

.page-header__cart-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  color: #2c71b6;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}
.page-header__cart-btn:hover span {
  color: #2c71b6;
  background-color: #ffffff;
}
.page-header__cart-btn span {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #ffffff;
  border-radius: 12px;
  background-color: #2c71b6;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.page-header__cart-counter {
  display: none;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}
body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
  overflow-y: scroll;
}

.breadcrumb {
  padding: 1rem 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 14px;
}
.breadcrumb a {
  color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #ffffff;
}
.breadcrumb-item.active {
  color: #ffffff;
}

.sidebar-filter {
  padding: 15px 30px 30px;
  color: #ffffff;
}
.sidebar-filter legend {
  font-weight: bold;
}
.sidebar-filter .form-check {
  margin: 10px 0;
}
.sidebar-filter .form-check-label {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}
.sidebar-filter .form-check-input {
  width: 0;
  height: 0;
}
.sidebar-filter .form-check-input:focus {
  outline: none;
}
.sidebar-filter .form-check-input:checked::before {
  background-color: #ffffff;
}
.sidebar-filter .form-check-input::before {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.35rem;
  content: "";
  border: 1px solid #ffffff;
}
.sidebar-filter__more {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.25rem;
}
.sidebar-filter__submit {
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
}
@media (min-width: 576px) {
  .container,
.container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
.container-sm,
.container-md {
    max-width: 720px;
  }
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
  }
  .navbar-nav > .nav-item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-nav > .nav-item :not(.show) {
    border-left: 1px solid #2c71b6;
  }
  .navbar-nav > .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .page-header__navbar .dropdown.show {
    border-bottom: 1px solid #ffffff;
    background-color: #2c71b6;
  }
  .page-header__navbar .dropdown.show .dropdown-toggle {
    color: #ffffff;
  }
  .page-header__navbar .dropdown-menu {
    margin-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .page-header__navbar .dropdown-menu a {
    color: #ffffff;
  }
  .page-header__navbar-search .form-control {
    width: 10rem !important;
  }
  .container,
.container-sm,
.container-md,
.container-lg {
    max-width: 960px;
  }
  .container {
    max-width: 960px;
  }
  .sidebar-filter {
    border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 1200px) {
  .container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 1140px;
  }
}
@media (max-width: 991px) {
  .page-header__navbar-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% - 100px);
  }
  .page-header__navbar-search .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .page-header__cart-btn {
    margin-top: -12px !important;
  }
  .sidebar-filter {
    border-top: 1px solid #ffffff;
  }
}